In [10]:
import numpy as np
import pandas as pd
my_data = "C:/Users/HP/Desktop/MSC Project/fri26_d.txt"
names = ("a", "b", "c", "d","e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z")
data = pd.read_csv(my_data, sep= "\s+", names=names)

data.head()

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP\AppData\Local\Temp\ipykernel_20792\31244428.py:5: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv(my_data, sep= "\s+", names=names)

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0,83,93,129,133,139,151,169,135,114,...,159,181,172,185,147,157,185,220,127,181
1,83,0,40,53,62,64,91,116,93,84,...,156,175,152,165,160,180,223,268,179,197
2,93,40,0,42,42,49,59,81,54,44,...,117,135,112,125,124,147,193,241,157,161
3,129,53,42,0,11,11,46,72,65,70,...,142,156,127,139,155,180,228,278,197,190
4,133,62,42,11,0,9,35,61,55,62,...,133,146,117,128,148,173,222,272,194,182